* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
}

.about-us {
  margin: 0 20px;
}

.about {
  color: rgb(136, 221, 136);
}

.form {
  margin: 0 auto;
}

.dashboardNav {
  background: rgb(187, 185, 185);
}
.dashboard {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}

.ml-4 {
  text-decoration: none;
  font-size: 24px;
  color: blueviolet;
}
