* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
}

.about-us {
  margin: 0 20px;
}

.about {
  color: rgb(136, 221, 136);
}

.form {
  margin: 0 auto;
}

/* .dashboardNav {
  background: rgb(187, 185, 185);
} */
.dashboard {
  height: 70px;
  border-right: 1px dashed;
  min-width: fit-content;
  padding-right: 20px;
  margin-right: 50px;
  position: fixed;
}

.last-nav {
  flex-grow: 0.5;
}

.ml-4 {
  text-decoration: none;
  font-size: 24px;
  color: rgb(33, 32, 34);
}

.my-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .main-nav {
  display: flex;
} */

/* .my-prod {
  margin-left: 15%;
} */

/* .my-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  max-width: 400px;
  max-height: 300px;
  font-size: 16px;
  border-radius: 10px;
} */

.my-image {
  width: 300px;
  height: 220px;
  padding: 10px;
}

.my-title {
  font-size: 16px;
  /* padding-top: 10px; */
  text-align: center;
}

.user-logo {
  background-color: rgb(129, 126, 126);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  margin: 0 10% 0 10%;
  font-size: 24px;
}
