* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
}

.about-us {
  margin: 0 20px;
}

.about {
  color: rgb(136, 221, 136);
}

.form {
  margin: 0 auto;
}

/* .dashboardNav {
  background: rgb(187, 185, 185);
} */
.dashboard {
  height: 70px;
  border-right: 1px dashed;
  min-width: fit-content;
  padding-right: 20px;
  margin-right: 50px;
  position: fixed;
}

.last-nav {
  flex-grow: 0.5;
}

.ml-4 {
  text-decoration: none;
  font-size: 24px;
  color: rgb(33, 32, 34);
}

.my-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-nav {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}
